.header{
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(0, 184, 184);
    border-radius: 10px;
}

.btn{
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(138, 117, 228);
    margin: 5px;
    border-radius: 10px;

}